<h1>Password Reset Successful</h1>
<p>Hi {{firstName}},</p>
<p>Your password has been successfully reset for your Onus Health account.</p>

<p>If you did not make this change, please contact us immediately at support@onus.health as your account may have been compromised.</p>

<p>For security reasons, we recommend that you:</p>
<ul>
  <li>Use a unique password that you don't use for other accounts</li>
  <li>Enable two-factor authentication if available</li>
  <li>Regularly update your password</li>
</ul>

<div style="text-align: center; margin-top: 30px;">
  <a href="{{frontendUrl}}/sign-in" class="btn" style="color: white;">Sign In to Your Account</a>
</div>

<p>Thank you,<br>
The Onus Health Team</p> 