<h1>Welcome to Onus Health!</h1>
<p>Hi {{firstName}},</p>
<p>Thank you for registering with Onus Health. To complete your registration and verify your email address, please click the button below:</p>

<div style="text-align: center;">
  <a href="{{verificationUrl}}" class="btn" style="color: white;">Verify Email Address</a>
</div>

<p>If the button above doesn't work, you can also copy and paste the following link into your browser:</p>
<p><a href="{{verificationUrl}}">{{verificationUrl}}</a></p>

<p>This link will expire in 24 hours.</p>

<p>If you did not create an account with Onus Health, please ignore this email.</p>

<p>Thank you,<br>
The Onus Health Team</p> 